.multiBlock{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sqrBlock{
  height: 15rem;
  width: 15rem;
  border: 0rem solid black;
  background: rgb(253, 152, 94);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.myApp{
  min-height: 100vh;
  background: rgb(67, 255, 20);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav{
  height: 5rem;
  width: 100%;
  background: rgb(255, 235, 121);
  padding: 1.2rem;
  justify-content: center;
}

#nav_left{float: left; font-size: x-large;}
#nav_right{float: right; font-size: x-large;}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
